.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  /*height: 100%;*/
  position: relative;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TopArea{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  height: calc(100% - 40px);
  box-sizing: border-box;
}
