.ConfigView{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    flex-grow: 1;
    text-align: left;
}

.Button {
    font-size: 16px;
    padding: 6px;
    border-radius: 6px;
    border-width: 0;
    background-color: burlywood;
    cursor: pointer;
    margin-top: 10px;
}

.Button:hover {
    background-color: bisque;
}

.ConfigView input {
    margin-top: 10px;
    background-color: burlywood;
    font-size: 16px;
    padding: 6px;
    border-radius: 6px;
    border-width: 0;
}

.ConfigView input:focus {
    outline: none;
}
