.DetailArea{
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}

.Word{
    font-size: 24px;
    margin-left: 20px;
}

.POS {
    background-color:burlywood;
    padding: 6px;
    border-radius: 6px;
}

.Meaning {
    padding: 10px;
}

.Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GenerateMore {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 4px;
}