.SearchArea {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 60px;
    padding: 10px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.SearchArea input {
    width: 100%;
    background-color: burlywood;
    border-radius: 10px;
    border-width: 0;
    font-size: 12px;
}

.SearchArea input:focus {
    outline: none;
}

.Loading {
    width:320px;
    height:220px;
    border-radius:20px;
    overflow:hidden;
    top:calc(50% - 110px);
    left:calc(50% - 160px);
    position:fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    font-size: 16px;
}

.Loading p {
    margin: 6px;
    text-align: center;
}

.Error {
    width:480px;
    max-height:240px;
    border-radius:8px;
    overflow:hidden;
    top:calc(50% - 120px);
    left:calc(50% - 240px);
    position:fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: brown;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}

.Error button {
    display: block;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

