.SearchArea {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 60px;
    padding: 6px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.SearchArea input {
    width: 100%;
    background-color: burlywood;
    border-radius: 10px;
    border-width: 0;
    font-size: 12px;
    padding-left: 10px;
}

.SearchArea input:focus {
    outline: none;
}
