.VocabularyArea {
    flex-grow: 0;
    flex-shrink: 0;
    width: 180px;
    position: relative;
}

.Viewport {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.Dummy {
    position: absolute;
    top: 0;
    left: 0;
}

.Item {
    height: 32px;
}

.Item a {
    color: black;
}

.Item a:visited {
    color: black;
}